<mat-card class="example-card">
  <mat-card-header>
    <div class="info">
      <mat-card-title>{{ penFriend.name }}</mat-card-title>
      <mat-card-subtitle>{{ call.status | uppercase }}</mat-card-subtitle>
      <mat-card-subtitle>{{ call.createdAt | date }}</mat-card-subtitle>
      <mat-card-subtitle>{{ call.duration }}</mat-card-subtitle>
    </div>
    <mat-icon (click)="onExit()">close</mat-icon>
    <figure>
      <img
        [src]="'../../../assets/images/' + penFriend?.photo"
        [alt]="penFriend?.name"
      />
    </figure>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>Call</button>
    <button mat-button (click)="onSendMessage()">Send message</button>
  </mat-card-actions>
</mat-card>
