<div class="forms">
  <form class="friends-form">
    <mat-form-field class="friends-form-field" appearance="fill">
      <mat-label>Your Friends</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchFriendInput"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="getFriend($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <form class="all-users-form">
    <mat-form-field class="all-users-form-field" appearance="fill">
      <mat-label>All Users</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchUserInput"
        [matAutocomplete]="autoU"
      />
      <mat-autocomplete
        #autoU="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="getUser($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredUsers | async"
          [value]="option"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div class="friend-list" *ngIf="friends && friends.length != 0">
  <ng-container *ngFor="let friend of friends">
    <mat-list style="cursor: pointer">
      <div class="friend-container">
        <div class="friend-name">
          {{ friend.name }}
        </div>
        <div class="friend-email">
          {{ friend.email }}
        </div>
        <div class="friend-photo">
          {{ friend.photo }}
          <img
            [src]="'../../../assets/images/' + friend.photo"
            [alt]="friend.name"
          />
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list>
  </ng-container>
</div>

<div class="no-friends-container" *ngIf="friends && friends.length == 0">
  <h1>You have no friends at the moments</h1>
  <span>Search by pseudo into the user list up there !</span>
</div>
