.forms{
  margin-top: 1rem;
display: flex;
justify-content: space-evenly;
.friends-form, .all-users-form {
  min-width: 150px;
  width: 80%;
}
.friends-form-field, .all-users-form-field {
  width: 95%;
}
}

.friend-list{
  height: 65vh;
  overflow: auto;
}
.friend-container{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  .friend-email{
    margin-left: auto;
  }
  .friend-photo{
  overflow: hidden;
  border-radius: 60%;
  width: 5rem;
  height: 5rem;
  margin-left: auto;
  img{
    width: 100%;
    position: relative;
    top: -1.2rem;
  }
}
}




.no-friends-container{
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

