<div class="icon-container">
  <mat-icon routerLink="../">close</mat-icon>
</div>
<div class="container">
  <form [formGroup]="passwordForm">
    <div class="title-container">
      <h1>Change password</h1>
    </div>
    <br />
    <div class="input-container">

      <mat-form-field appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" />
      </mat-form-field>
    </div>
  </form>
</div>
