:host {
  display: flex;
  justify-content: center;
}

.head-info{
  display: flex;
}

form{
  width: 50%;
}

h1{
  text-align: center;
  font-weight: 500;
  margin: 2rem;
}

mat-form-field {
  width: 100%;
}

.register-btn {
  width: 100%;
  margin-bottom: 1rem;
}

.login{
  text-align: center;
}
