<form [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value)">
  <h1>Register</h1>
  <div class="container">
    <div class="head-info">
      <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input
          matInput
          placeholder="Your name"
          formControlName="name"
          required
        />
        <mat-error *ngIf="registerForm.controls['name'].invalid">{{
          getFormControlError(registerForm.controls["name"])
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter a pseudo</mat-label>
        <input
          matInput
          placeholder="Your pseudo"
          formControlName="pseudo"
          required
        />
        <mat-error *ngIf="registerForm.controls['pseudo'].invalid">{{
          getFormControlError(registerForm.controls["pseudo"])
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="md-info">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="your@email.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="registerForm.controls['email'].invalid">{{
          getFormControlError(registerForm.controls["email"])
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your phone number</mat-label>
        <span matPrefix>+33 &nbsp;</span>
        <input
          matInput
          type="tel"
          placeholder="12345678"
          formControlName="phone"
          required
        />
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="registerForm.controls['phone'].invalid">{{
          getFormControlError(registerForm.controls["phone"])
        }}</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="registerForm.controls['password'].invalid">{{
        getFormControlError(registerForm.controls["password"])
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm your password</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="registerForm.controls['password'].invalid"
        >Both passwords needs to match</mat-error
      >
    </mat-form-field>
  </div>
  <button class="register-btn" mat-flat-button color="primary">Register</button>
  <div class="login">
    Already have an account ?&nbsp;
    <button mat-button type="button" routerLink="/auth/login">
      Login here
    </button>
  </div>
</form>
