<!-- <mat-toolbar color="primary">
  <ul>
    <li>
      <a mat-button routerLink="/home" routerLinkActive="mat-accent">Home</a>
    </li>
    <li>
      <a mat-button routerLink="/calls" routerLinkActive="mat-accent">Calls</a>
    </li>
    <li>
      <a mat-button routerLink="/chats" routerLinkActive="mat-accent">Chats</a>
    </li>
    <li>
      <a mat-button routerLink="settings" routerLinkActive="mat-accent"
        >Settings</a
      >
    </li>
  </ul>
</mat-toolbar> -->
<mat-toolbar color="primary">
  <ul>
    <li>
      <button
        mat-button
        routerLink="/home"
        routerLinkActive="mat-accent"
        mat-raised-button
        color="primary"
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        Home
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/friends"
        routerLinkActive="mat-accent"
        mat-raised-button
        color="primary"
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        Firends
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/calls"
        routerLinkActive="mat-accent"
        mat-raised-button
        color="primary"
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        Calls
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/chats"
        routerLinkActive="mat-accent"
        mat-raised-button
        color="primary"
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        Chats
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/settings"
        routerLinkActive="mat-accent"
        mat-raised-button
        color="primary"
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        Settings
      </button>
    </li>
  </ul>
</mat-toolbar>
