<mat-toolbar color="primary">
  <!-- <span routerLink="/" [ngStyle]="{ cursor: 'pointer' }">N-A-S Chat</span>
  <span class="spacer"></span> -->
  <ul>
    <li>
      <a mat-button routerLink="/home" routerLinkActive="mat-accent">Home</a>
    </li>
    <li>
      <a mat-button routerLink="/calls" routerLinkActive="mat-accent">Calls</a>
    </li>
    <li>
      <a mat-button routerLink="/chats" routerLinkActive="mat-accent">Chats</a>
    </li>
    <li>
      <a mat-button routerLink="settings" routerLinkActive="mat-accent"
        >Settings</a
      >
    </li>
  </ul>
</mat-toolbar>
