<!-- routerLinkActive="mat-accent" -->
<mat-toolbar color="primary">
  <ul *ngIf="isAuth">
    <li>
      <button
        mat-button
        routerLink="/home"
        mat-raised-button
        color="primary"
        matBadge=""
        matBadgePosition="before"
        matBadgeColor="warn"
      >
        <mat-icon>home</mat-icon>
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/friends"
        mat-raised-button
        color="primary"
        matBadge=""
        matBadgePosition="before"
        matBadgeColor="warn"
      >
        <mat-icon>group_add</mat-icon>
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/calls"
        mat-raised-button
        color="primary"
        matBadge=""
        matBadgePosition="before"
        matBadgeColor="warn"
      >
        <mat-icon>call</mat-icon>
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/chats"
        mat-raised-button
        color="primary"
        matBadge=""
        matBadgePosition="before"
        matBadgeColor="warn"
      >
        <mat-icon>forum</mat-icon>
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/settings"
        mat-raised-button
        color="primary"
        matBadge=""
        matBadgePosition="before"
        matBadgeColor="warn"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </li>
  </ul>
</mat-toolbar>
