mat-toolbar{
  display: flex;
  align-items: center;
}
ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
}
a{
  text-decoration: none;
  color: white;
}
