<mat-toolbar color="primary">
  <ul>
    <li>
      <button
        mat-button
        routerLink="/home"
        routerLinkActive="mat-accent"
        mat-raised-button
        color="primary"
        matBadge=""
        matBadgePosition="before"
        matBadgeColor="warn"
      >
        Home
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/friends"
        routerLinkActive="mat-accent"
        mat-raised-button
        color="primary"
        matBadge=""
        matBadgePosition="before"
        matBadgeColor="warn"
      >
        Firends
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/calls"
        routerLinkActive="mat-accent"
        mat-raised-button
        color="primary"
        matBadge=""
        matBadgePosition="before"
        matBadgeColor="warn"
      >
        Calls
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/chats"
        routerLinkActive="mat-accent"
        mat-raised-button
        color="primary"
        matBadge=""
        matBadgePosition="before"
        matBadgeColor="warn"
      >
        Chats
      </button>
    </li>
    <li>
      <button
        mat-button
        routerLink="/settings"
        routerLinkActive="mat-accent"
        mat-raised-button
        color="primary"
        matBadge=""
        matBadgePosition="before"
        matBadgeColor="warn"
      >
        Settings
      </button>
    </li>
  </ul>
</mat-toolbar>
