<div class="card-container">
  <mat-card class="card" *ngIf="user">
    <mat-card-title-group>
      <mat-card-content>
        <div class="titles">
          <div class="titles-head">
            <mat-card-title>{{ user.name }}</mat-card-title>
            <mat-icon>{{ statusIcons[status] }}</mat-icon>
          </div>
          <mat-card-title class="small">{{ status }}</mat-card-title>
        </div>
      </mat-card-content>

      <mat-card-subtitle>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Define Your Status </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let statusItem of statusArray">
              <p (click)="setStatus(statusItem)">{{ statusItem }}</p>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-subtitle>

      <div class="img">
        <img
          *ngIf="photo"
          mat-card-xl-image
          [src]="photo"
          [alt]="user.pseudo"
        />
      </div>
    </mat-card-title-group>
  </mat-card>
  <app-home-friends [friends]="friends"></app-home-friends>
</div>
