.example-card {
  // max-width: 400px;
  width: 100%;
  margin-bottom: 8px;
}

mat-card-title{
  border:1px solid black
}
mat-card-subtitle{
  border:1px solid black
}
mat-card-content{
  border:1px solid black
}
