<mat-card class="example-card" *ngIf="user">
  <mat-card-title-group>
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle>

      <mat-form-field appearance="fill">
        <mat-label>Select Your Status</mat-label>
        <mat-select>
          <mat-option value="one">Available</mat-option>
          <mat-option value="two">Busy</mat-option>
          <mat-option value="two">Working</mat-option>
          <mat-option value="two">Offline</mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-subtitle>
    <div class="img">
      <img *ngIf="photo" mat-card-xl-image [src]="photo" [alt]="user.pseudo" />
    </div>
  </mat-card-title-group>
  <mat-card-content>
    TEXT
  </mat-card-content>
</mat-card>


