<mat-card class="example-card" *ngIf="user">
  <mat-card-title-group>
    <div class="titles">
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-title class="small">status: online 🟢</mat-card-title>
    </div>
    <mat-card-subtitle>
      <mat-form-field appearance="fill">
        <mat-label>Select Your Status</mat-label>
        <mat-select>
          <mat-option value="one">Available 🟢</mat-option>
          <mat-option value="two">Busy 🛠️</mat-option>
          <mat-option value="two">Working 🖥️</mat-option>
          <mat-option value="two">Offline 🔴</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-subtitle>
    <div class="img">
      <img *ngIf="photo" mat-card-xl-image [src]="photo" [alt]="user.pseudo" />
    </div>
  </mat-card-title-group>

  <mat-card-content>
    <ng-container *ngFor="let friend of friends">
      <div class="container">
        <span>{{ friend.name }}</span>
        <span>status: online 🟢</span>
        <figure>
          <img width="35rem" [src]="friend.photo" [alt]="friend.name" />
        </figure>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
