
.card-container{
  height: 100%;
  .card {
    border: none;
    width: 100%;
    height: 35vh;
    .titles{
      height: 100%;
      width: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;
        // justify-content: space-evenly;
        // border: 1px solid black;
        .titles-head{
          display: flex;
          justify-content: space-between;
          width: 40%;
          mat-icon{
            font-size: 1.5rem;
          }
        }
        mat-card-title{
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        .small{
          font-size: 1rem;
          font-weight: 100;
        }
      }
        p{
          cursor:pointer
        }
        .img{
          border: 1px solid black;
          margin-right: 2rem;
          border-radius: 50%;
          width: 10rem;
          height: 10rem;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          img{
            width: 105%;
            height: 105%;
          }
        }
      }
      app-home-friends{
        height: 35vh;
        // width: 100%;
        // border: 3px solid red;
      }
    }

