<ng-container *ngFor="let call of calls">
  <mat-list (click)="onViewCall(call)" style="cursor: pointer">
    <div class="calls-container">
      <div class="call-name">
        {{ call.penFriend }}
      </div>
      <div class="call-duration">
        {{ call.duration }}
      </div>
      <div class="call-status">
        <span *ngIf="call.status === 'visio'">
          &nbsp; <mat-icon>videocam</mat-icon></span
        >
        <span *ngIf="call.status === 'vocal'">
          &nbsp; <mat-icon>call</mat-icon></span
        >
        <span *ngIf="call.status === 'conference'">
          <mat-icon>groups</mat-icon></span
        >
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-list>
</ng-container>
