<form [formGroup]="settingForm">
  <mat-accordion class="headers-align">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Personal Data </mat-panel-title>
        <mat-panel-description>
          Type your name and pseudo
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Pseudo</mat-label>
        <input matInput formControlName="pseudo" />
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Your profile picture </mat-panel-title>
        <mat-panel-description>
          <a routerLink="/settings/upload-photo"
            ><button mat-raised-button type="button" color="primary">
              Upload your photo
            </button>
          </a>
          <mat-icon>photo</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 2"
      (opened)="setStep(2)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>Become Premium </mat-panel-title>
        <mat-panel-description>
          Type your premium key
          <mat-icon>star</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Key</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 3"
      (opened)="setStep(3)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Phone Number </mat-panel-title>
        <mat-panel-description>
          Add a phone number
          <mat-icon>phone</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 4"
      (opened)="setStep(4)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Email Adress </mat-panel-title>
        <mat-panel-description>
          Type your email adress
          <mat-icon>email</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="step === 5"
      (opened)="setStep(5)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Password </mat-panel-title>
        <mat-panel-description>
          <a routerLink="/settings/change-password"
            ><button mat-raised-button type="button" color="primary">
              Update your password
            </button>
          </a>
          <mat-icon>password</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</form>
<div class="save">
  <button
    mat-raised-button
    type="submit"
    color="primary"
    (click)="onSaveSettings(settingForm.value)"
  >
    Update Settings
  </button>
</div>
