.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

// .dropFile{
//   visibility: hidden;
// }

// .img-preview-container{
//   display: grid;
//   place-items: center;
// }

// .image-preview{
//   height: 5rem;
//   margin: 1rem;
// }

.save{
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}
