<div class="container" *ngIf="penFriend">
  <div class="chatHeader">
    <mat-toolbar color="accent">
      <mat-icon>menu</mat-icon>
      <span>{{ penFriend.name }}</span>
      <mat-icon (click)="onExit()">close</mat-icon>
    </mat-toolbar>
  </div>
  <div class="chatContainer">
    <mat-card class="example-card">
      <mat-card-header *ngFor="let message of messages">
        <div *ngIf="message.poster === penFriendID" class="chat-card">
          <figure>
            <img
              class="avatar"
              [src]="'../../../assets/images/' + penFriend.photo"
              [alt]="penFriend.pseudo"
            />
          </figure>

          <div class="content">
            <span>{{ message.content }}</span>
          </div>
        </div>
        <div
          *ngIf="message.poster != penFriendID"
          class="chat-card currentUser"
        >
          <div class="content currentUser">
            <span>{{ message.content }}</span>
          </div>
          <figure>
            <img
              class="avatar"
              [src]="'../../../assets/images/' + currentUser.photo"
              [alt]="currentUser.pseudo"
            />
          </figure>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="chatInput">
      <mat-form-field class="leaveMessage" appearance="fill">
        <textarea [formControl]="formMessage" matInput placeholder="Write your message here"></textarea>
        <mat-icon color="primary" (click)="onSendMessage(formMessage.value)">send</mat-icon>
      </mat-form-field>
  </div>
</div>
