.container{
  height: 77vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header{
  height: 5vh;
  background: #FFA726;
  display: flex;
  color: white;
  justify-content: space-between;
  span{
    margin: auto;
  }
}
.chatContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

figure{
border-radius: 50%;
width: 2rem;
height: 2rem;
overflow: hidden;
}

.avatar{
  width: 2rem;
  height: 2rem;
}

.chat-card{
  max-width: 20rem;
  height: auto;
  border: 1px solid white;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.chat-card.penFriend{
  border: 1px solid grey;
  color: grey;
  margin-left: -2.5rem;
  figure{
    margin-left: 1rem;
  }
}

.content{
  max-width: 10rem;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  overflow-y: auto;
  span{
    max-width: 10rem;
    height: auto;
  }
}

.content.currentUser{
  padding: 1rem;
}

.chat-card.currentUser{
  margin-left: auto;
  background: #3F51B5;
  border-radius: 1rem;
  figure{
    margin-right: 1rem;
    margin-left: auto;
  }
}

.chat-card.currentUser > * {
  border: 1px solid black;
}

.input-container{
  width: 100vw;
  height: 10vh;
  display: flex;
  input{
    width: 100%;
    border: none;
    outline: none;
  }
}

mat-icon{
  cursor: pointer;
  align-self: center;
}

@media screen and (max-width: 450px) {
  .container{
    height: 85vh;
  }
  .header{
    height: 5vh;
  }
  .chatContainer{
   width: 100%;
  }
  .chat-card{
    width: 50%;
  }
  .input-container{
    height:5vh;
  }
  figure{
    width: 8rem;
  }
  .chat-card.penFriend{
    figure{
      overflow: visible;
      img{
        border-radius: 50%;
      }
    }
  }
}
