<div class="container" *ngIf="penFriend">
  <div class="chatHeader">
    <div class="header">
      <span>{{ penFriend.name }}</span>
      <mat-icon (click)="onExit()">close</mat-icon>
    </div>
  </div>
  <div class="chatContainer">
    <mat-card class="example-card">
      <mat-card-header *ngFor="let message of messages">
        <div *ngIf="message.poster === penFriendID" class="chat-card">
          <figure>
            <img
              class="avatar"
              [src]="'../../../assets/images/' + penFriend.photo"
              [alt]="penFriend.pseudo"
            />
          </figure>

          <div class="content">
            <span>{{ message.content }}</span>
          </div>
        </div>
        <div
          *ngIf="message.poster != penFriendID"
          class="chat-card currentUser"
        >
          <div class="content currentUser">
            <span>{{ message.content }}</span>
          </div>
          <figure>
            <img
              class="avatar"
              [src]="'../../../assets/images/' + currentUser.photo"
              [alt]="currentUser.pseudo"
            />
          </figure>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="input-container">
    <input
      type="text"
      name="formMessage"
      #formMessage
      placeholder="Write your message here"
    />
    <mat-icon color="primary" (click)="onSend(formMessage.value)"
      >send</mat-icon
    >
  </div>
</div>
