<div class="container" *ngIf="rooms.length != 0">
  <ng-container *ngFor="let message of messageBox">
    <mat-list
      style="cursor: pointer"
      *ngIf="message.room"
      (click)="onViewChat(message.room)"
    >
      <div class="mat-list">
        <div class="penFriend">
          <div class="photo">
            <figure>
              <img
                class="avatar"
                [src]="'../../assets/images/' + message.photo"
                [alt]="message.name"
              />
            </figure>
          </div>
          <div class="name">{{ message.name }}</div>
        </div>
        <mat-list-item class="content" *ngIf="message.content">
          <span>{{ message.content | shorten }}</span></mat-list-item
        >
        <mat-list-item *ngIf="message.createdAt">
          <div class="time">
            <span>{{ message.createdAt | dateTime }} </span>
          </div>
        </mat-list-item>
      </div>
    </mat-list>
    <mat-divider></mat-divider>
  </ng-container>
</div>

<div class="no-friends-container" *ngIf="rooms.length == 0">
  <h1>You have no active discussion at the moment</h1>
  <span
    >To find friends to discuss with, click on the friends button down here and
    search by pseudo !</span
  >
</div>
