.container{
  height: 70vh;
  overflow: auto;
}
figure{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  }

  .avatar{
    width: 2rem;
    height: 2rem;
  }

  .penFriend{
    display: flex;
  }

  .penfriend > *{
    width: 10%;
  }
  .name{
    display: flex;
    align-items: center;
  }

  .mat-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .mat-list > * {
    width: 100%;

  }
  .time{
    display: flex;
    margin-left: auto;
    color: grey
  }
.content{
  color: grey
}


.no-friends-container{
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
