.container{
  height: 70vh;
  overflow: auto;
}
  mat-list{
    display: flex;
    justify-content: space-between;
  }
.content{
  margin-left: auto;
}


.no-friends-container{
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
