<form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)">
  <h1>Login to your account</h1>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="your@email.com"
        formControlName="email"
        required
      />
      <mat-error *ngIf="loginForm.controls['email'].invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-error *ngIf="loginForm.controls['password'].invalid">{{
        getErrorMessage()
      }}</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button mat-flat-button color="primary">Login</button>
  <div class="register">
    New user? &nbsp;
    <a routerLink="/auth/register"> Register here </a> &nbsp; | &nbsp;
    <a routerLink="/auth/register"> Forgot your password ? </a>
  </div>
</form>
