<form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)">
  <h1>Login</h1>
  <div class="container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="your@email.com"
        formControlName="email"
        required
      />
      <mat-error *ngIf="loginForm.controls['email'].invalid">{{
        getFormControlError(loginForm.controls["email"])
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-error *ngIf="loginForm.controls['password'].invalid">{{
        getFormControlError(loginForm.controls["password"])
      }}</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button class="login-btn" mat-flat-button color="primary">Login</button>
  <div class="register">
    New user? &nbsp;
    <button mat-button type="button" routerLink="/auth/register">
      Register here
    </button>
    &nbsp; | &nbsp;
    <button mat-button type="button" (click)="openDialog()">
      Forgot your password ?
    </button>
  </div>
</form>
