<ng-container *ngIf="!showSingleNotification && notifications.length > 0">
  <h1 mat-dialog-title>All notifications</h1>
  <div mat-dialog-content>
    <mat-list *ngFor="let notification of notifications">
      <div class="notifications" (click)="onViewNotification(notification)">
        <mat-list-item style="cursor: pointer">
          New Pending {{ notification.sort }}</mat-list-item
        >
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-container>
<ng-container *ngIf="showSingleNotification">
  <mat-card>
    <mat-card-header>
      <figure>
        <img
          mat-card-image
          [src]="'../../assets/images/' + singleNotification.from.photo"
          [alt]="singleNotification.from.name"
        />
      </figure>
      <mat-card-title>{{ singleNotification.sort }}</mat-card-title>
      <mat-card-subtitle>{{ singleNotification.from.name }}</mat-card-subtitle>
      <mat-card-subtitle>{{
        singleNotification.createdAt | date
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onAccept()">Accept</button>
      <button mat-button (click)="onDecline()">Decline</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-container class="no-notif" *ngIf="notifications.length === 0">
  <h1>No notification !</h1>
  <button mat-button mat-dialog-close>Close</button>
</ng-container>
