.icon-container{
  display: flex;
  mat-icon{
    margin-left: auto;
    cursor: pointer;
  }
}

.container{
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  form{
    width: 60%;
    height: 80vh;
  }
}

h1{
  text-align: center;
  font-weight: 500;
  margin-bottom: 5rem;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

button{
  width: 100%;
  text-align: center;
}
