<div class="icon-container">
  <mat-icon routerLink="/home">close</mat-icon>
</div>
<div class="container">
  <form [formGroup]="resetPasswordForm">
    <div class="title-container">
      <h1>Reset password</h1>
    </div>
    <br />
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="resetPasswordForm.controls['email'].invalid">{{
          getFormControlError(resetPasswordForm.controls["email"])
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="resetPasswordForm.controls['password'].invalid">{{
          getFormControlError(resetPasswordForm.controls["password"])
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm New password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="resetPasswordForm.controls['password'].invalid"
          >Both passwords needs to match</mat-error
        >
      </mat-form-field>
    </div>
    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        [disabled]="resetPasswordForm.invalid"
        (click)="onSubmit(resetPasswordForm.value)"
      >
        Confirm
      </button>
    </div>
  </form>
</div>
